.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#abrir-modal, button{
  color:dimgray;
}
#fade, #modal{
  transition: .5s;
  opacity: 1;
  pointer-events: all;
}
#abrir-modal:hover ,button:hover{
  opacity: 100;
  font-size: 20px;
 
}
#fade{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 5;
}
#modal{
  position: relative;
  /* transform: translate(-50%,-50%); */
  overflow-y: scroll;
  background-color: aliceblue;
  left: 50%;
  width: 561px;
  height: 426px;
  left: calc(50% - 488px/2);
  top: 0;
  z-index: 10;
  padding: 10px;
  border-radius: 5px;
}
#modal.esconder,#fade.esconder{
  position: absolute;
  opacity: 0;
  pointer-events: none;

}
#modal.esconder{
  top:0;
}
#abrir-modal{
  border-radius: 10px;
}

body{
  background-color: rgb(240, 234, 234);
}
#nav{
  border-radius: 6px;
  background-color: black;
}
#SalvarSala,#submit{
  background-color: chartreuse;
}
.col-md-6{
  position: relative;
  display: flex;
  text-align: center;
}
#modal{
  background-color: rgb(36, 33, 33);
  color: aliceblue;
  position: relative;
  border-radius: 5px;
}
#fecha-modal{
  padding: .6rem 1.2rem;;
  background-color: rgb(224, 226, 226);
  border: none;
  border-radius: 7px;
  cursor: pointer;
  opacity: .7;
  font-size: 1rem;
  transition: .4s;
  position: unset;
  left: 150px;
  top: 235px;
  
}
